li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

.buttons__wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 65px;
}

.remove-button {
  content: url('../../svg/delete.svg');
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: none;
}

.remove-button,
.edit-button,
.save-button {
  cursor: pointer;
  width: 25px;
  height: 25px;
  border: none;
}

.remove-button {
  content: url('../../svg/delete.svg');
}

.edit-button {
  content: url('../../svg/edit.svg');
}

.save-button {
  content: url('../../svg/save.svg');
}

.remove-button:hover,
.edit-button:hover {
  opacity: 0.6;
}

.remove-button:focus,
.edit-button:focus {
  outline: none;
}

.remove-button:active,
.edit-button:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.done {
  text-decoration: line-through;
}

.todo-content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.todo-title,
.todo-description {
  overflow: hidden;
  max-width: 300px;
}
