.todo-add-form {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-fields {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.description-field {
  padding-top: 10px;
}

.description {
  width: 99%;
  height: 70px;
  resize: none;
}

.submit-button__wrapper {
  display: flex;
  height: 40px;
  width: 70px;
  padding-top: 10px;
}

.submit {
  height: 100%;
  width: 100%;
}
